#Print() function tasks

In [ ]:


print("Python program")
print("")
print("Basics of Python\nIt is an OOP Language")
print("")
a="Variable in a sentence"
print(a)

#Data Type task

In [ ]:
#Check Data type
x="check Data type"
print(type(x))

<class 'str'>

In [ ]:
#Convert Datatypes
N=int(input("Ente the number"))
a=str(N)
print(type(a))

In [ ]:
#Concatenating Different Datatype
x="check Data type"
N=int(input("Ente the number"))
y=x+str(N)
print(y)

Ente the number12
check Data type12

#Math operation Tasks

In [ ]:
a=5
b=6
print("Addition of two numbers is",a+b)
print("Subtraction of two numbers is",a-b)
print("Multiplication of two numbers is",a*b)
print("Division of two numbers is",a/b)
print("Modulus of two numbers is",a%b)
print("Exponentiation is",a**2)
print("Floor division is",b//2)

# Conditions task - beginners

In [ ]:
#Check if a number is odd or even

a=int(input("enter the number"))
if a%2==0:
  print("Number is even")
else:
  print("Number is odd")

In [ ]:
#Find a largest number
a,b=map(int,input("enter the numbers").split(","))
if a>b:
  print("a is greater")
elif b>a:
  print("b is greater")
else:
  Print("Both are same")

In [ ]:
#Grading System

x=int(input("enter the number"))
if x==35:
  print("PASS")
elif x>35 and x<=50:
  print("Grade C")
elif x>50 and x<=60:
  print("Grade B")
elif x>60 and x<=80:
  print("Grade A")
elif x>80 and x<=100:
  print("Grade A+")
else:
  print("FAIL")

#Conditional Tasks - Intermediate

In [ ]:
#Check the given number is positive,negative or zero
n=int(input("Enter the number"))
if n>0:
  print("Positive")
elif n<0:
  print("Negative")
else:
  print("Zero")

In [ ]:
#find the largest of three numbers
a,b,c=map(int,input("Enter the numbers to Compare").split(","))
if a>b and a>c:
  print(f"a {a} is largest")
elif b>a and b>c:
  print(f"b {b} is largest")
else:
  print(f"c {c} is largest")

In [ ]:
#Checkt the given year is leap year or not
year=int(input("Enter the year"))
if year%4==0 and year%100!=0 or year%400==0 :
  print("Leap Year")
else:
  print("Not a Leap Year")

In [ ]:
#Check the char is vowel or consonant
c=input("Enter the char :")
if c.isalpha() and len(c)==1:
  if c in  "aeiouAEIOU":
    print("Vowel")
  else:
    print("Consonant")
else:
  print("Invalid input")

In [ ]:
#Simple calculator using conditional statement

operator=input("Enter the operators(+-*/)")
#a,b=map(int,input("Enter the numbers to calculate").split(","))
if operator=="+":
  a,b=map(int,input("Enter the numbers to calculate").split(","))
  print(a+b)
elif operator=="-":
  a,b=map(int,input("Enter the numbers to calculate").split(","))
  print(a-b)
elif operator=="*":
  a,b=map(int,input("Enter the numbers to calculate").split(","))
  print(a*b)
elif operator=="/":
  a,b=map(int,input("Enter the numbers to calculate").split(","))
  print(a/b)
else:
  print("Invalid operator")

#Loops for and While

In [ ]:
#Print Numbers from 1 to 5(For loop)
for i in range(1,6):
  print(i)

In [ ]:
#print even numbers upto 10 (using while)
i = 2
while i <= 10:
    print(i)
    i += 2

In [ ]:
#Iterate over a list
a=[1,2,3,4,5,6,7,8]
for i in a:
  print(i)

#For loop - Intermediate

In [ ]:
#Prime numbers upto 100
n=int(input("Enter the number"))
count=0
for i in range(1,n+1):
  for j in range(1,i+1):
    if i%j==0:
      count+=1
  if count==2:
    print(i)
  count=0

In [ ]:
#Tables
n=int(input("Enter the table number: "))
for i in range(1,11):
  print(f"{i}*{n}={i*n}")

In [ ]:
#Factorial
n=int(input("Enter the factorial"))
f=1
for i in range(1,n+1):
  f*=i
print(f)

In [ ]:
#Finonacci Series
n=int(input("Enter the number: "))
a=0
b=1
print(a)
print(b)
for i in range(3,n+1):
  c=a+b
  print(c)
  a=b
  b=c

In [ ]:
#Even number upto 50
for i in range(1,51):
  if i%2==0:
    print("Even numbers are",i)

#While loop - Intermediate

In [ ]:
#Tables
n=int(input("enter the number"))
while n>0:
  for i  in range(1,11):
    print(f"{i}*{n}={i*n}")
  break

In [ ]:
#Prime numbers upto 100
n=int(input("Enter the number"))
count=0
for i in range(1,n+1):
  for j in range(1,i+1):
    if i%j==0:
      count+=1
  if count==2:
    print(i)
  count=0

In [ ]:
#Factorial
n=int(input("Enter the factorial"))
while n>0:
  f=1
  for i in range(1,n+1):
    f*=i
  print(f)
  n=0

In [ ]:
#Finonacci Series
n=int(input("Enter the number: "))
while n>0:
  a=0
  b=1
  print(a)
  print(b)
  for i in range(3,n+1):
    c=a+b
    print(c)
    a=b
    b=c
  n=0

In [ ]:
#Even number upto 50
n=1
while n>0:
  for i in range(1,51):
    if i%2==0:
      print("Even numbers are",i)
  n=0

#String Basics

In [ ]:
#concotenate two string
a="Python"
b="is a Programming language"
print(a+b)

In [ ]:
#convert a string from lower to upper
s=input("Enter the string to convert").lower()
a=s.upper()
print(a)

In [ ]:
#Find the length of a string
s=input("Enter the string")
l=len(s)
print(l)

#String Slicing

In [ ]:
#Extract first 5 characters from the string
string="metro city"
s=string[0:5]
print(s)

In [ ]:
#Extract last 4 characters from the string
string="metrocity"
s=string[-5:]
print(s)

In [ ]:
#Reverse a string using slicing
string="metrocity"
s=string[::-1]
print(s)

#Lists

In [ ]:
#Create and access the list
l=[1,2,3,4,5]
for i in l:
  print(i)

In [ ]:
#Append an item to a list
l=[]
l.append('a')
l.append('b')
print("l=",l)

In [ ]:
#Remove an item from a list
l=[1,2,3,4,5]
l.remove(5)
print(l)

#Tuples

In [ ]:
tuple=("Car","Bike","Bus","Truck")
for i in tuple:
  print(i)

In [ ]:
#Count Occurence of an element in a tuple
tuple = (1, 2, 3, 2, 4, 2, 5)
find = 2
count = tuple.count(find)
print(f"The element {find} appears {count} times in the tuple.")

In [ ]:
#Find index of an element
tuple = (1, 2, 3, 2, 4, 2, 5)
find=5
loc=2
index=tuple.index(find)
indices = [i for i, x in enumerate(my_tuple) if x == loc]
print(f"The index of {find} is {index}")
print(f"The index of {loc} is {indices}")

#Dictionary

In [ ]:
#Create and access the dictionary
d={'a':1,'b':2,'c':3}
print(d)

In [ ]:
#Add a new key value pair
d={'a':1,'b':2,'c':3}
d["e"]=4
print(d)

In [ ]:
#Remove a key value pair
d={'a':1,'b':2,'c':3}
d.pop("a")
print(d)

#Sets

In [ ]:
#create a set and print its element
set={1,2,3,4}
print(set)

{1, 2, 3, 4}

In [ ]:
#union if two sets
set1={1,3,5,7}
set2={2,4,6,8}
set3=set1.union(set2)
print(set3)

In [ ]:
#Intersection of two sets
set1={1,3,5,7}
set2={7,4,1,8}
set3=set1.intersection(set2)
print(set3)

#Funtion tasks

In [ ]:
#create a funtion that adds two numbers
def add(a,b):
  return a+b
a,b=map(int,input("Enter the number").split(","))
add(a,b)

In [ ]:
#Function that checks if a number is even or odd
def even_odd(n):
  if n%2==0:
    return "Even"
  else:
    return "Odd"
n=int(input("Enter the number")
even_odd(n)

In [ ]:
#funtion with default parameter
def add(a,b=5):
  return a+b
#a=int(input("Enter the number"))
add(5)

#Exception Handling

In [ ]:
#Exception Handling division by zero
try:
    a,b= map(int,input("Enter the number: ").split(","))
    c = a/b
    print(f"The result of division is: {c}")

except ZeroDivisionError:
    print("Error: Cannot divide by zero!")

In [ ]:
#Handle invalid input
try:
  a=int(input("Enter the number"))
except ValueError:
  print("Invalid input")

In [ ]:
#Handle key error in dictionary
try:
  dict={"a":1,"b":2,"c":3}
  print(dict["d"])
except KeyError:
  print("Key Error")

Key Error